.search{
position:relative;
z-index:0;
text-align:center;
}
input[type=text] {
  border: 3px solid grey;
  border-radius: 4px;
  width:80%;
height:50px;
}
.output{
z-index:0;
position:relative;
border: 2px solid purple;
  border-radius: 4px;
height:auto;
margin:auto;
width:80%;
}